@import backend.membership.api.CreateNewMemberReq
@import helper._
@import views.custom_forms.Helpers._
@(createNewMemberForm: Form[CreateNewMemberReq])(implicit assetsFinder: AssetsFinder, request: MessagesRequestHeader)

@main(
    ViewCommonData(
        title = "Create new member",
        breadCrumbs = Seq(
            BreadCrumb("Membership", Some(routes.MembershipController.index.url)),
            BreadCrumb("Create new member")
        )
    ),
    assetsFinder) {
    <div class="card">
        <div class="card-body">
        <h3 class="card-title">Create new member</h3>
        @helper.form(action = routes.MembershipController.doCreateNewMember()) {
            @CSRF.formField
            @inputText(createNewMemberForm("name"), '_label -> Messages("Name"), 'class -> "form-control")
            @inputText(createNewMemberForm("email"), '_label -> Messages("Email"), 'class -> "form-control")
            @if(createNewMemberForm.hasGlobalErrors) {
                <div class="alert alert-danger" role="alert">
                    @createNewMemberForm.globalError.map(_.format).mkString("<br />")
                </div>
            }

            <button type="submit" class="btn btn-success">Create</button>
        }
        </div>
    </div>
}