@import backend.membership.api.MemberDto
@import backend.common.types.Owner
@import backend.common.types.StandardMember
@import backend.auth.AuthContext
@import helper._
@(member: MemberDto)(implicit assetsFinder: AssetsFinder, request: MessagesRequestHeader, context: AuthContext)

@main(
    ViewCommonData(
        title = s"Member ${member.name}",
        breadCrumbs = Seq(
            BreadCrumb("Membership", Some(routes.MembershipController.index.url)),
            BreadCrumb(member.name)
        )
    ),
    assetsFinder) {
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">Member @member.name</h3>
            <table class="table mt-3">
                <tbody>
                    <tr>
                        <td>Member ID</td><td>@member.id</td><td></td>
                    </tr>
                    <tr>
                        <td>Name</td><td>@member.name</td><td><a href="@routes.MembershipController.changeName(member.id)">Change name</a></td>
                    </tr>
                    <tr>
                        <td>Email</td><td>@member.email</td><td><a href="@routes.MembershipController.changeEmail(member.id)">Change email</a></td>
                    </tr>
                    <tr>
                        <td>Role</td><td>@member.role</td>
                        <td>
                            @if(context.currentMemberRole == Owner) {
                                    @if(member.role == StandardMember) {
                                        @helper.form(action = routes.MembershipController.makeMemberAnOwner(member.id)) {
                                            @CSRF.formField
                                            <button type="submit" class="btn btn-link" style="padding-left: 0">Make an owner</button>
                                        }
                                    } else {
                                        @if(member.id != context.currentMemberId) {
                                            @helper.form(action = routes.MembershipController.makeMemberAStandardMember(member.id)) {
                                                @CSRF.formField
                                                <button type="submit" class="btn btn-link" style="padding-left: 0">Make a standard member</button>
                                            }
                                        }
                                    }
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>Became Member At</td>
                        <td>@member.becameMemberAt</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            <div class="float-right">
                @if(context.currentMemberRole == Owner && member.id != context.currentMemberId) {
                    @helper.form(action = routes.MembershipController.disconnectMember(member.id)) {
                        @CSRF.formField
                        <button type="submit" class="btn btn-danger">Disconnect a member</button>
                    }
                }
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
}

